@model Appointments_management_system.Models.Clinic
@{
    ViewBag.Title = "Add Clinic";
}

<h2>@ViewBag.Title</h2>

<p>@ViewBag.SpecialityName</p>
<br/>

@Html.Label("Clinic", "Choose clinics:")
<br />
@Html.DropDownListFor(c => c.ClinicId, new SelectList(ViewBag.clinics), "Choose a clinic", new { @class = "form-control", multiple = "multiple" })
@Html.ValidationMessageFor(c => c.ClinicId, "", new { @class = "text-danger" })
<br />
<br />