@model Appointments_management_system.Models.Speciality

@{
    ViewBag.Title = "GetClinics";
}

<h2>Clinics that have the speciality @Model.SpecialityName </h2>
<br />

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        @{
            int count = 1;
            foreach (var clinic in Model.Clinics)
            {
                <tr>
                    <td>@count</td>
                    <td>@clinic.Name</td>
                    <td>@clinic.ClinicId</td>
                    <td>@Model.SpecialityId</td> 
                    <td>
                        @Html.ActionLink("See doctors", "DoctorsFilter", "Doctor", new { SpecialityId = Model.SpecialityId, ClinicId = clinic.ClinicId }, null)
                    </td>
                </tr>
                count = count + 1;
            }
        }
    </tbody>
</table>

